{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> {{ hub.name }}</h1>
</header>

<p><strong>Options:</strong> <a href="/m/{{ hub.slug }}/new">Create topic</a> <em class="s">/</em> <a href="#">Leave hub</a></p>

<hr />

{% for topic in topics %}
    <div class="topic">
        <div class="not-wanted">
            <h2><a href="/m/{{ hub.slug }}/{{ topic.slug }}">{% if topic.starred %}&#x272D; {% endif %}{{ topic.title }}</a></h2>
            <p>(<span>{{ topic.total_replies }}</span>) {{ topic.content|slice(0, 50) }}</p>
        </div>
        <p class="meta">
            <span class="date">updated: {{ timeAgoInWords(topic.updated, user.timezone) }}</span>
            <span class="author">{{ topic.last_poster }}</span>
        </p>
    </div>
{% endfor %}

    <hr />
    <p>
{% if staff|length > 0 %}
    <strong>Staff:</strong>
    {% for row in staff %}
        {{ row.username }}
    {% endfor %}
    <em>/</em>
{% endif %}
    <strong>Created:</strong> {{ timeAgoInWords(hub.created, user.timezone) }}
</p>    

<footer class="secondary">
  
</footer>
{% endblock %}