<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link href="/test.compiled.css" rel="stylesheet" />
<title>MicroHub{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{% block head %}{% endblock %}
</head>
<body {% if user and user.settings.dark_mode == 1 %}class="dark"{% endif %}>

<nav class="user">
    {% if user == null %}
        <a href="{{ url("userLogin") }}">Login</a> <em>/</em> <a href="{{ url("userRegister") }}">Register</a>
    {% else %}
        <a href="{{ url("userAccount") }}">({{ user.username }})</a> <em>/</em> <a href="{{ url("userLogout") }}">Logout</a>
    {% endif %}
</nav>

<div role="main">
{% block body %}{% endblock %}
</div>

<hr />

<footer>
    <p>
        This website is open source: <a href="https://github.com/deanc/microhub">https://github.com/deanc/microhub</a> | Privacy Policy | Rules
    </p>
</footer>

<script src="/app.compiled.js">
</script>

</body>
</html>