{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> <a href="/m/{{ hub.slug }}">{{ hub.name }}</a> <em>/</em> create topic</h1>
</header>


<p>create topic</p>

<form action="/m/{{ hub.slug }}/new" method="post">
    <div class="form-row">
        <label>Title</label>
        <input name="title" type="text" value="{{ data.title }}" />
        <span class="error">{{ errors.title.join(",") }}</span>
    </div>
    <div class="form-row">
        <label>Content</label>
        <textarea name="content" rows="10">{{ data.content }}</textarea>
        <span class="error">{{ errors.content.join(",") }}</span>
    </div>
    <div class="form-row">
        <button type="submit">Submit</button>
    </div>
</form>


<footer class="secondary">
  
</footer>
{% endblock %}