{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> <a href="/m/{{ hub.slug }}">{{ hub.name }}</a> <em>/</em> {{ topic.title }}</h1>
</header>


<p>
<strong>{{ topic.username }}</strong> <em class="s">/</em> {{ timeAgoInWords(topic.created, user.timzeone) }}<br />
{{ topic.content }}
</p>

<hr />

{% if comments|length > 0 %}
  <h2>Comments ({{ comments|length }}):</h2>

  {% for comment in comments %}
    <p id="comment-{{ comment.id }}">
      <strong>{{comment.username}}</strong> <em class="s">/</em> {{ timeAgoInWords(comment.created, user.timezone) }}<br />
      {{ comment.content|trim|nl2br }}
    </p>
  {% endfor %}
{% else %}
<p>There are no comments yet</p>
{% endif %}

{% if user.id %}
<h2 id="new-comment">Make new comment</h2>
<form action="/m/{{ hub.slug }}/{{ topic.slug }}" method="post">
  <div class="form-row">
    <textarea name="content" class="comment" rows="7"></textarea>
    <span class="error">{{ errors.content.join(",") }}</span>
  </div>
  <div class="form-row">
    <button button type="submit">Submit</button>
  </div>
</form>
{% endif %}


<footer class="secondary">
  
</footer>
{% endblock %}