{% extends "shell.twig" %}

{% block head %}
{% if hub.accent_hex|length %}
<style type="text/css">
.s, nav em, h1 em {
    color: #{{ hub.accent_hex }} !important;
}
</style>
{% endif %}
{% endblock %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> {% if not hub.public %}&#128274;{% endif %} <a href="{{ url('hubView', {"hubId": hub.id, "slug": hub.slug}) }}">{{ hub.name }}</a> <em>/</em> {{ topic.title }}</h1>
</header>

{% if topic.closed %}
<p>This topic is closed</p>
{% endif %}

<p>
<strong>{{ topic.username }}</strong> <em class="s">/</em> {{ timeAgoInWords(topic.created, user.timzeone) }}<br />
{{ topic.content|trim|raw }}
</p>

<hr />

{% if comments|length > 0 %}
  <h2>Comments ({{ comments|length }}):</h2>

  {% for comment in comments %}
    <p id="comment-{{ comment.id }}">
      <strong>{{comment.username}}</strong> <em class="s">/</em> {{ timeAgoInWords(comment.created, user.timezone) }}<br />
      {{ comment.content|trim|raw }}
    </p>
  {% endfor %}
{% else %}
<p>There are no comments yet</p>
{% endif %}

{% if user.id and not topic.closed %}
<h2 id="new-comment">Make new comment</h2>
<form action="{{ url("topicView", {"hubId": hub.id, "hubSlug": hub.slug, "topicId": topic.id, "topicSlug": topic.slug}) }}" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <div class="form-row">
    <textarea name="content" class="comment" rows="7">{{ data.content }}</textarea>
    {% if errors|length %}<span class="error">{{ errors.content.join(",") }}</span>{% endif %}
  </div>
  <div class="submit-row">
    <button button type="submit">Submit</button>
  </div>
</form>
{% endif %}


<footer class="secondary">
  
</footer>
{% endblock %}